<footer class="page-footer grey darken-3">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<!--<h5 class="grey-text darken-3">Footer Content</h5>-->
				<p class="grey-text darken-3">NEST HOSTELS является одним из ведущих сервисов по поиску и бронированию мест проживания в различных городах России и Беларуси.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<!--<h5 class="grey-text darken-3">Links</h5>-->
				<ul>
					<li><a class="grey-text darken-3" routerLink="/firstview" routerLinkActive="active">Главная</a></li>
					<li><a class="grey-text darken-3" href="#!">Хостелы</a></li>
					<li><a class="grey-text darken-3" href="#!">Контакты</a></li>
					<li><a class="grey-text darken-3" routerLink="/registration" routerLinkActive="active">Регистрация</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright copyrightrow">
		<div class="container grey-text darken-3">
			© 2016 Copyright SoftAutoTech
			<!--<a class="grey-text darken-3 right" href="#!">More Links</a>-->
		</div>
	</div>
</footer>