<footer class="page-footer yellow darken-1">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="grey-text darken-3">Footer Content</h5>
				<p class="grey-text darken-3">You can use rows and columns here to organize your footer content.</p>
			</div>
			<div class="col l4 offset-l2 s12">
				<h5 class="grey-text darken-3">Links</h5>
				<ul>
					<li><a class="grey-text darken-3" href="#!">Link 1</a></li>
					<li><a class="grey-text darken-3" href="#!">Link 2</a></li>
					<li><a class="grey-text darken-3" href="#!">Link 3</a></li>
					<li><a class="grey-text darken-3" href="#!">Link 4</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container grey-text darken-3">
			© 2016 Copyright SoftAutoTech
			<a class="grey-text darken-3 right" href="#!">More Links</a>
		</div>
	</div>
</footer>