<!-- Modal Structure -->
<div id="registration" class="modal" style="width:24%" materialize="modal" [materializeParams]="[{dismissible: true}]" [materializeActions]="modalActions">

  <div class="modal-content">
    <div class="row">

      <!--registration description-->

      <h6 class="grey-text text-darken-1 center"><b>Добро пожаловать, зарегистрируйтесь</b></h6>
      <div class="section"></div>

      <div class="row center">
        <a id="facebookbtn" class="col s4 waves-effect waves-light" href="https://facebook.com">
          <img src="../../img/Facebook.png" /></a>
        <a id="googlebtn" class="col s4 waves-effect waves-light" href="https://google.com">
          <img src="../../img/Google.png" /></a>
        <a id="vkbtn" class="col s4 waves-effect waves-light" href="https://vk.com">
          <img src="../../img/VKontakte.png" /></a>
      </div>

      <div class='row'>
        <div class='input-field col s12 '>
          <input class='validate' type='email' name='email' id='email' />
          <label for='email'>Введите ваш email</label>
        </div>
      </div>

      <div class='row'>
        <div class='input-field col s12'>
          <input class='validate' type='password' name='password' id='password' />
          <label for='password'>Введите ваш пароль</label>
        </div>
        <label style='float: right;'>
      <a class='darken-3 red-text text-darken-3' href='#!'>Придумать пароль?</a>
     </label>
      </div>

      <div class='row center'>
        <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect grey darken-4'>Зарегистрироваться</button>
      </div>

      <div class="row center">
        <a (click)="closeModal()" href="#entrance" class="red-text text-darken-3">Уже есть аккаунт?</a>
      </div>


    </div>
  </div>
</div>
<entrance></entrance>