<div class="container">
	<div class="row">
		<h3 class="yellow-text text-darken-2 center ">Контакты</h3>
		<div class="row">
			<div class="col s6 m5 l4">
				<ul class="collection">
					<li class="collection-item avatar marg grey lighten-2">
						<div class="row marg">
							<div class="col s1 l1">
      							<i class="material-icons circle yellow-text text-darken-2">perm_identity</i>
							</div>
							<div class="col s10 l10">
      							<span class="title"><b>Оробей Антон Сергеевич</b></span>
      							<!--<blockquote class="grey lighten-3">Front-end разработчик</blockquote>-->
      							<!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
							</div>
						</div>
					</li>
					<li>
						<div class="row marg bord">
							<div class="col s1 m1 l1">
								<i class="material-icons circle yellow-text text-darken-2">call</i>
							</div>
							<div class="col s11 m11 l11">
								+375 33 698 35 14
							</div>
						</div>
						<div class="row marg bord">
							<div class="col s1 m1 l1">
								<i class="material-icons circle yellow-text text-darken-2">email</i>
							</div>
							<div class="col s11 m11 l11">
								example@gmail.com
							</div>
						</div>
						<div class="row marg bord">
							<div class="col s1 m1 l1">
								<i class="material-icons circle yellow-text text-darken-2">location_on</i>
							</div>
							<div class="col s11 m11 l11">
								ул. Маяковского, д.146
							</div>
						</div>
					</li>
  				</ul>
			</div>
		</div>
	</div>
</div>