<div class="container">
	<div class="row">
		<h3 class="yellow-text text-darken-2 center ">Контакты</h3>
		<ul class="collection">
			<div class="row">
				<div class="col s4 m4 l4">
					<li class="collection-item avatar">
						<div class="col s1 l1">
      						<i class="material-icons circle yellow-text text-darken-2">perm_identity</i>
						</div>
						<div class="col s11 l11">
      						<span class="title">Оробей Антон Сергеевич</span>
      						<blockquote class="grey lighten-3">Front-end разработчик</blockquote>
      						<!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
						</div>
					</li>
				</div>
				<div class="col s4 m4 l4">
					<li class="collection-item avatar">
						<div class="col s1 l1">
      						<i class="material-icons circle yellow-text text-darken-2">perm_identity</i>
						</div>
						<div class="col s11 l11">
      						<span class="title">Садоменко Сергей Леонидович</span>
							<blockquote class="grey lighten-3">Back-end разработчик</blockquote>
      						<!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
						</div>
					</li>
				</div>
				<div class="col s4 m4 l4">
					<li class="collection-item avatar">
						<div class="col s1 l1">
      						<i class="material-icons circle yellow-text text-darken-2">perm_identity</i>
						</div>
						<div class="col s11 l11">
      						<span class="title">Тозик Александр Сергеевич</span>
      						<blockquote class="grey lighten-3">Front-end разработчик</blockquote>
      						<!--<a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>-->
						</div>
					</li>
				</div>
			</div>
  		</ul>    
	</div>
</div>