<nav class="navbar grey darken-3" role="navigation">
	<div class="nav-wrapper">
		<a href="#" class="brand-logo">Nest Hostels</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse">
			<i class="material-icons" (click)="onClick($event)">menu</i>
		</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a class="yellow-text" href="#">Хостелы</a></li>
			<li><a class="yellow-text" href="#">Цены</a></li>
			<li><a class="yellow-text" href="#">Войти</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a class="yellow-text" href="#">Хостелы</a></li>
			<li><a class="yellow-text" href="#">Цены</a></li>
			<li><a class="yellow-text" href="#">Войти</a></li>
		</ul>
	</div>
</nav>