<nav class="navbar grey darken-3" role="navigation">
	<div class="nav-wrapper" class="container">
		<a href="#" class="brand-logo yellow-text text-darken-2"><i class="material-icons">cloud</i>Nest Hostels</a>
        <a materialize="sideNav" href="#" data-activates="slide-out" class="button-collapse">
			<i class="material-icons">menu</i>
		</a>
		<ul id="nav-mobile grey" class="right hide-on-med-and-down">
			<li><a class="darken-3 yellow-text text-darken-2 waves-effect waves-light" routerLink="/firstview" routerLinkActive="active">Главная</a></li>
			<li><a class="darken-3 yellow-text text-darken-2 waves-effect waves-light" href="#">Хостелы</a></li>
			<li><a class="darken-3 yellow-text text-darken-2 waves-effect waves-light" routerLink="/contacts" routerLinkActive="active">Контакты</a></li>
			<li><a class="darken-3 yellow-text text-darken-2 waves-effect waves-light" routerLink="/registration" routerLinkActive="active">Регистрация</a></li>
			<!--<li>
			<nav>
				<div class="nav-wrapper grey darken-3">
				<form>
					<div class="input-field ">
					<input id="search" type="search" required>
					<label for="search"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i>
					</div>
				</form>
				</div>
			</nav>
			</li>-->
		</ul>
		<side-menu></side-menu>
	</div>
</nav>