<div class="parallax-container" style="width: 100%">
  <div class="parallax" materialize="parallax"><img src="http://franch.biz/franch/file/3438/franshiza-3961468.jpg"></div>
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center yellow-text text-darken-2 uniform-bg">Выбери свой хостел</h1>
      <div class="row center">
        <h5 class="header col s12 light white-text uniform-bg">Лучшие хостелы города Санкт-Петербург</h5>
      </div>
      <div class="row center">
        <a id="download-button" class="btn-large waves-effect waves-light yellow darken-2" routerLink="/hostels">Начать</a>
      </div>
      <br><br>
    </div>
  </div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header center yellow-text text-darken-2">Все что вам необходимо знать о нас</h2>
    <!--<p class="grey-text text-darken-3 lighten-3">-->
      <!--Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.-->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center grey-text text-darken-3"><i class="material-icons">flash_on</i></h2>
            <h5 class="center yellow-text text-darken-2">Мы знаем что вам нужно</h5>

            <p class="light">У нас вы сможете быстро забронировать и оплатить любой понравившийся вам хостел.
                             С нашей помощью вы не будете волноваться и переживать за оплаченное вами место.
                             Наша работа и наш сервис это удовлетворить ваше желание хорошо и приятно отдохнуть.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center grey-text text-darken-3"><i class="material-icons">group</i></h2>
            <h5 class="center yellow-text text-darken-2">Мы работаем для вас</h5>

            <p class="light">Мы проверяем все отели и отзывы каждый день. Каждый хостельер проходит верификацию под нашим контролем.
                            Любой отзыв мы публикуем после 100% проверки. У нас вы видите самую правдивую и соответствующую информацию.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center grey-text text-darken-3"><i class="material-icons">settings</i></h2>
            <h5 class="center yellow-text text-darken-2">Мы поможем вам</h5>

            <p class="light">Если у вас возникли трудности либо вам не понравился ваш хостел 
                            или может у вас собственные проблемы вы можете нажать на кнопочку 
                                  и быстро с нами связаться</p>
          </div>
        </div>
      </div>
    <!--</p>-->
  </div>
</div>   
<div class="parallax-container">
  <div class="parallax" materialize="parallax"><img src="http://dalinfotour.ru/uploads/Bunkbeds_Danhostel.jpg"></div>
</div>

<!--<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center yellow-text text-darken-2">Выбери свой хостел</h1>
      <div class="row center">
        <h5 class="header col s12 light">Лучшие хостелы города Санкт-Питербург</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light yellow darken-2">Начать</a>
      </div>
      
      <br><br>

    </div>
  </div>

  <div class="container">
    <div class="section">-->

      <!--   Icon Section   -->
      <!--<div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center grey-text text-darken-3"><i class="material-icons">flash_on</i></h2>
            <h5 class="center yellow-text text-darken-2">Мы знаем что вам нужно</h5>

            <p class="light">У нас вы сможете быстро забронировать и оплатить любой понравившийся вам хостел.
                             С нашей помощью вы не будете волноваться и переживать за оплаченное вами место.
                             Наша работа и наш сервис это удовлетворить ваше желание хорошо и приятно отдохнуть.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center grey-text text-darken-3"><i class="material-icons">group</i></h2>
            <h5 class="center yellow-text text-darken-2">Мы работаем для вас</h5>

            <p class="light">Мы проверяем все отели и отзывы каждый день. Каждый хостельер проходит верификацию под нашим контролем.
                            Любой отзыв мы публикуем после 100% проверки. У нас вы видите самую правдивую и соответствующую информацию.
            </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center grey-text text-darken-3"><i class="material-icons">settings</i></h2>
            <h5 class="center yellow-text text-darken-2">Мы поможем вам</h5>

            <p class="light">Если у вас возникли трудности либо вам не понравился ваш хостел 
                            или может у вас собственные проблемы вы можете нажать на кнопочку 
                                  и быстро с нами связаться</p>
          </div>
        </div>
      </div>

    </div>
    <br><br>

    <div class="section">

    </div>
  </div>-->