.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.uniform-bg {
background:rgba(80, 80, 80, 0.7);
position:relative;
outline: rgba(80, 80, 80, 0.7) solid 0.3em;
}