.forcenter{
    align-items: center;
}
/* increase the width, height and prevent vertical scroll! However, i don't recommend this, its better to turn on vertical scrolling. */
.modal { max-width: 22% !important ; max-height: 100% !important ; overflow-y: hidden !important ;  opacity: .5;}  
   /* label color */
   .input-field label {
     color: grey darken-1;
   }
   /* label focus color  */
   .input-field input[type=emailIN]:focus + label {
     color: #0277bd; 
   }
   /* label underline focus color */
   .input-field input[type=emailIN]:focus {
     border-bottom: 1px solid #0277bd;
     box-shadow: 0 1px 0 0 #0277bd ;
   }
   /* label focus color */
   .input-field input[type=passwordIN]:focus + label {
     color: #0277bd;
   }
   /* label underline focus color */
   .input-field input[type=passwordIN]:focus {
     border-bottom: 1px solid #0277bd;
     box-shadow: 0 1px 0 0 #0277bd ;
   }           